<h1>Input Tutorial</h1>

<!-- This is an example of passing data into a component. 
     Note that stepNumber is a numeric value the the attribute needs square brackets 
     to let us know we are using a value and not a string. Description, nextString, and fileUpdate 
     do not need the brackets because they are just sting values. -->
<app-instruction [stepNumber]="0"
  description="Our app has an example of one child element getting values from the parent.  You will notice that all the content displayed in the instruction component is provided by the values in the tag for the component. "
  nextCheckout="input-tag" fileUpdated="app.component.html"></app-instruction>
