<h1>Input Tutorial</h1>

<!-- This is an example of passing data into a component. 
     Note that stepNumber is a numeric value the the attribute needs square brackets 
     to let us know we are using a value and not a string. Description, nextString, and fileUpdate 
     do not need the brackets because they are just sting values. -->
<app-instruction [stepNumber]="0"
  description="Our app has an example of one child element getting values from the parent.  You will notice that all the content displayed in the instruction component is provided by the values in the tag for the component. "
  nextCheckout="input-tag" fileUpdated="app.component.html"></app-instruction>

<app-instruction [stepNumber]="1"
  description="We created a new component called demo.  In the ts file, we added Input to the imports.  This allows us to use custom inputs. Open up the ts file and look at where we added the Input."
  nextCheckout="at-input" fileUpdated="demo.component.ts"></app-instruction>

<app-instruction [stepNumber]="2"
  description="We added three variables that start with @Input().  This allows us to use the default valued provided or pass in our own values when we create the tag."
  nextCheckout="embed-in-html" fileUpdated="demo.component.ts"></app-instruction>

<app-instruction [stepNumber]="3"
  description="We embedded 3 variables in the p tag in our demos html file.  The values of these variables will show up on the page.  Take a look at demos html to see how it was done."
  nextCheckout="add-tag-to-parent" fileUpdated="demo.component.html"></app-instruction>